@import "../../styles/globals.scss";

.root {
  background-color: white;
  border-radius: 20px;
  margin: 1rem;
  padding: 2rem;
  width: 30rem;
}

.title {
  color: $secondary;
  margin-top: 1rem;
}

.taskCount {
  display: flex;
  p {
    margin-right: 1rem;
  }
  .total {
    color: $color-primary;
  }
  .done {
    color: mediumaquamarine;
  }
  .togo {
    color: darkorange;
  }
}

.list {
  margin-top: 2rem;
}

.todoItem {
}

.completed {
  text-decoration: line-through;
}

.delete {
  margin-left: 1rem;
}

.input {
}

.add {
}

@media (max-width: 576px) {
  .root {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
