@import "../../styles/globals.scss";

.root {
  background-color: white;
  border-radius: 20px;
  margin: 1rem;
  // padding-bottom: 2rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  height: 83vh;
}

.title {
  color: $secondary;
  margin: 3rem 2rem 0 2rem;
}

.taskCount {
  display: flex;
  margin: 1rem 2rem 0 2rem;
  p {
    margin-right: 1rem;
  }
  .total {
    color: $color-primary;
  }
  .done {
    color: $color-success;
  }
  .togo {
    color: $color-warning;
  }
}

.list {
  margin: 2rem 2rem 0 2rem;
  padding-left: 0;
  overflow: auto;
  flex-grow: 2;
}

@mixin item {
  flex-grow: 2;
  border: 0;
  border-bottom: 1px solid gainsboro;
  color: $secondary;
}

@mixin input {
  @include item;
  &:focus {
    outline: 0;
  }
}

.editing {
  align-items: center;
  padding-bottom: 0.75rem;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  // For ItemDisplay
  .checkbox {
    position: relative;
    cursor: pointer;

    // Hide the default checkbox
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    // The custom checkbox
    .checkMark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid gainsboro;
    }
    &:hover {
      .checkMark {
        background-color: $light;
      }
    }
    input:checked ~ .checkMark {
      background-color: $color-primary;
      border-color: transparent;
    }
  }
  .label {
    @include item;
    margin: 0 0.5rem 1rem 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .completed {
    text-decoration: line-through;
    color: gainsboro;
    border-color: transparent;
  }
  .delete {
    color: $secondary;
    background-color: transparent;
    border: 0;
    padding-bottom: 1rem;
  }
  // For ItemEditInput
  input {
    @include input;
    margin: 0 0.5rem 0 1rem;
  }
  svg {
    margin-left: 0.25rem;
  }
  .doneEdit {
    border: 0;
    background-color: $color-success;
  }
}

.todoInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-top: 1px solid gainsboro;
  input {
    @include input;
    height: 100%;
    margin: 0 1rem 0 0.5rem;
  }
  .add {
    background-color: $color-primary;
  }
}

@media (max-width: 576px) {
  .root {
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
  }
}
