@mixin fade-out-right {
  transform: scaleX(1);
  transform-origin: center right 0px;
  animation: fade-out-right ease 0.5s forwards;
  @keyframes fade-out-right {
    0% {
      transform: scaleX(1);
      transform-origin: center right 0px;
    }
    100% {
      transform: scaleX(0);
      transform-origin: center right 0px;
    }
  }
}

@mixin ripple {
  transition: all 0.7s ease;
  animation: ripple 1.5s linear 1;
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(gainsboro, 0.3), 0 0 0 1px rgba(gainsboro, 0.3),
        0 0 0 3px rgba(gainsboro, 0.3);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(gainsboro, 0.3), 0 0 0 4px rgba(gainsboro, 0.3),
        0 0 0 10px rgba(gainsboro, 0);
    }
  }
}
