@import '../styles/globals.scss';

.root {
    @include page;
    background-color: gray;
}

@media (max-width: 576px) {
    .root {
        background-color: inherit;
        align-items: flex-end;
    }
}