@import '../styles/globals.scss';

.root {
    @include page;
    background-image: linear-gradient(135deg, #9156E0, #FF9768);
}

@media (max-width: 576px) {
    .root {
        background-color: inherit;
        align-items: flex-end;
    }
}