@import "../styles/globals.scss";

.root {
  @include page;
  background-color: $color-primary;
  align-items: stretch;
  padding-top: 5rem;
}

@media (max-width: 576px) {
  .root {
    padding-top: 0;
  }
}
