@import "../../styles/globals.scss";

.main {
  @include page;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  margin: 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
  @include desktop() {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  color: inherit;
  width: 20rem;
  margin: 1rem;
}

.logo {
  display: inline-block;
  vertical-align: top;
}

.footer {
  position: relative;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
