@import "../../styles/globals.scss";
$color-numbers: #F6ECFF;
$color-secondaryOperands: #F1E0FD;
$color-operands-1: #F7D261;
$color-operands-2: #FE9C66;
$color-border: #E5D8E9;

.main{
    width: 30rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.display {
    margin-top: 0.5rem;
    padding: 1rem;
    text-align: right;
    overflow: auto;
    border-bottom: 1px solid $color-border;
    .equation {
        color: grey;
    }
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@mixin grid {
    display: grid;
    grid-gap: 1px;
    background-color: $color-border;
    button {
        background-color: $color-numbers;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        border: 0;
    }
}

.operands {
    @include grid;
    grid-template-columns: auto;
    background-image: linear-gradient(135deg, $color-operands-1, $color-operands-2);
    padding-top: 1px;
    button {
        background-color: transparent;
        border-left: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        color: white;
    }
}

.digits {
    grid-column: 1 / span 3;
    @include grid;
    grid-template-columns: auto auto auto;
    .secondaryOperands {
        background-color: $color-secondaryOperands;
    }
    .zero {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: left;
        padding-left: 3.5rem;
    }
}

@media (max-width: 576px) {
    .main {
        border-radius: 0;
    }
    .digits {
        .zero {
            padding-left: 3rem;
        }
    }
}
