@import "mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

$color-primary: #5b75e2;
$color-success: mediumaquamarine;
$color-warning: darkorange;
